.health-bar {
  width: 50%;
  color: white;
  font-size: 1.5rem;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.platform-name {
  position: absolute;
  top: -1.5rem;
  left: 1rem;
  float: left;
}

.platform-toughness {
  position: absolute;
  top: -1.5rem;
  right: 1rem;
  float: right;
}

/* bottom tab */
.bottom-tab {
  width: 100%;
}

.tab-entry {
  height: 12rem;
}

.align-both-center {
  display: flex;
  align-items: center; /* vertically */
  justify-content: center; /* horizontally */
}

.content-tab {
  max-height: 20rem;
  overflow: auto;
}
